services:
  - type: web
    name: trackapp-backend
    env: node
    plan: free
    buildCommand: cd server && npm install
    startCommand: cd server && node index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: ALLOWED_ORIGINS
        value: https://client-4opfx4inf-amers-projects-b96a46c1.vercel.app

